<div class="container">
<h2>設定</h2>
<table class="table config-table">
<tbody>
<tr>
<th>定時ツイート</th>
<td>
<input type="checkbox" id="config-tweet" <%= user.config.tweet ? 'checked="checked" ' : '' %>/>
日付が変わった時間にふぁぼ数などをツイートやDMでお知らせします
</td>
</tr>
<tr>
<th>公開設定</th>
<td>
<input type="checkbox" id="config-public" <%= user.config.public ? 'checked="checked" ' : '' %>/>
ふぁぼ数などの情報を公開します
</td>
</tr>
<tr>
<th>通知フォーマット</th>
<td>
定時ツイートのフォーマットを指定します
<textarea id="config-format" class="config-format"><%= user.config.format %></textarea>
<pre><code class="config-format config-format-preview"></code></pre>
</td>
</tr>
</tbody>
</table>
</div>
