<!DOCTYPE html>
<html lang="ja">
<% include head %>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">favcounter</a>
</div>
<div id="navbar" class="navbar-collapse collapse navbar-right">
<ul class="nav navbar-nav">
<% var accounts = session.accounts; %>
<% if (accounts && accounts.length > 0) { %>
<li class="dropdown">
<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
<span class="icon"><img src="<%= accounts[0].data[0].profile_image_url_https %>" /></span>
<%= accounts[0].data[0].screen_name %>
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li><a href="/login">
<span class="glyphicon glyphicon-plus"></span> 
アカウントを追加
</a></li>
<li><a href="/reload">
<span class="glyphicon glyphicon-refresh"></span>
再読み込み
</a></li>
<li><a href="/logout">
<span class="glyphicon glyphicon-off"></span>
ログアウト
</a></li>
</ul>
</li>
<% } else { %>
<li><a href="/login">ログイン</a></li>
<% } %>
</ul>
</div>
</div>
</nav>
<div class="container">
<div class="page-header">
<h1>ふぁぼかうんたー</h1>
</div>
<% if (error != null) { %>
<div class="alert alert-danger" role="alert">
<span class="glyphicon glyphicon-exclamation-sign"></span>
<%= error %>
</div>
<% } %>
