<% include header %>
<% if (accounts != null) { %>
<% include accounts %>
<% include config %>
<% } else { %>
<blockquote class="twitter-tweet" data-partner="tweetdeck">
<p lang="ja" dir="ltr">ふぁぼかうんたー登録してもいいけど、まだテスト中だから人柱希望者以外は連携外したほうがいいと思うよ <a href="https://twitter.com/hashtag/favcounter?src=hash">#favcounter</a></p>
&mdash; あーちゃん (@p1o1c1k1y) <a href="https://twitter.com/p1o1c1k1y/status/637651716129865729">August 29, 2015</a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% } %>
<!--
<pre><code>
<%= JSON.stringify(session, null, ' ') %>
</code></pre>
-->
<% include footer %>
