<% include header %>
<% if (accounts != null) { %>
<% include accounts %>
<% include config %>
<% } else { %>
現在公開テスト中です。質問・要望は<a href="https://twitter.com/favcntr" target="_blank">@favcntr</a>まで。
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% } %>
<% include footer %>
