<% include header %>
<% if (accounts != null) { %>
<% include accounts %>
<% include config %>
<% } else { %>
<div class="jumbotron">
<h1>ふぁぼかうんたー</h1>
<p>一日に登録したお気に入りの数を数えるアプリ</a>
<p><a class="btn btn-primary btn-lg" href="/login" role="button">使ってみる</a></p>
<p>現在公開テスト中です。質問・要望は<a href="https://twitter.com/favcntr" target="_blank">@favcntr</a>まで</p>
</div>
<% } %>
<% include footer %>
