.table {
	max-width: 1000% !important;
}

.draggable {
	/*position: relative;*/
}

.draggable-item, .dragging-ghost {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.draggable-item.dragging {
	opacity: 0;
}

.dragging-ghost {
	position: absolute;
	cursor: row-resize;
	-moz-box-shadow: 0 0 3px rgba(127, 127, 127, 0.8);
	-webkit-box-shadow: 0 0 3px rgba(127, 127, 127, 0.8);
	box-shadow: 0 0 3px rgba(127, 127, 127, 0.8);
	opacity: 0.9;
}

.dragging-ghost > td {
	border: 0 !important;
}
