body > .container {
	padding-top: 60px;
}

.icon > img {
	width: 24px;
	height: 24px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.table {
	max-width: 1000% !important;
}

.draggable-item.dragging {
	opacity: 0;
}

.dragging-ghost {
	position: absolute;
	cursor: move;
	-moz-box-shadow: 0 0 5px rgba(63, 63, 63, 0.8);
	-webkit-box-shadow: 0 0 5px rgba(63, 63, 63, 0.8);
	box-shadow: 0 0 5px rgba(63, 63, 63, 0.8);
	opacity: 0.7;
}

.dragging-ghost > td {
	border: 0 !important;
}

tr {
	height: 36px;
}

th, td {
	text-align: center;
}

.account-grip {
	width: 36px;
	color: #ddd;
	cursor: move;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.config-table th {
	padding-right: 20px !important;
	text-align: right;
	vertical-align: middle !important;
}

.config-table td {
	padding-left: 20px !important;
	text-align: left;
}

.config-format {
	width: 100%;
}
